data_wrangling/.Rhistory
*.csv
*.rds
*.RData
*.Rhistory
*.log
*.RDataTmp 
*.DS_Store

*.jpg
*.JPEG
*.png

OLD/

!*prev_fit_for_sim.rds
!*params_sim_alpha.csv
!*params_sim_beta.csv
!*params_sim_eta.csv